.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
#psndoc_approve {
	border-radius: 4px;
	background: #fff;
}
.approve .b_tittle {
	border-bottom: 1px solid #E6E6EB;
	font-size: 16px;
	color: #333333;
	line-height: 49px;
}
.approve .b_tittle p{
	margin-left: 14px;
	font-weight: bold;
}
.approve .b_content {
	padding: 0px 16px 0px 16px;
}
.approve .b_content li {
	padding: 16px 0 16px 0;
	border-bottom:1px solid #E6E6EB ;
}
.approve .b_content li p {
	float: left;
}

.approve .b_content li .name{
	font-size: 14px;
	color: #333333;
	margin-bottom: 10px;
}
.approve .b_content li .detail,.b_content li .time{
	font-size: 14px;
	color: #666666;
	margin-bottom: 10px;
}
.approve .b_content li .suggest{
	font-size: 14px;
	float: right;
}
.approve .b_content li .suggest .agree{
	color: #73D139;
	cursor: pointer;
}
.approve .b_content li .suggest .reject{
	color: #F44F50;
	cursor: pointer;
}
.approve .b_content .left{
	float: left;
	line-height: 14px;
}
.approve .b_content .right{
	float: right;
	line-height: 14px;
}
.approve .b_content .left .orgname{
	margin-left: 28px;
}
.approve .b_content .right .reject{
	margin-left: 14px;
}
.approve .b_content .right .time{
	padding-left: 12px;
}
.approve .b_footer{
	border-top: 1px solid #E6E6EB;
	margin-top: -1px;
	font-size: 14px;
	color: #666666;
	line-height: 39px;
}
.approve .b_footer .approvepage{
	float: left;
	margin-left: 14px;
}
.approve .b_footer .approvemore{
	float: right;
	margin-right: 14px;
	cursor: pointer;
}
