* {
	margin: 0;
	padding: 0;
}

.position_age .b_title {
	border-bottom: 1px solid #E6E6EB;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #333333;
	line-height: 32px;
}

.position_age .b_title p {
	margin-left: 14px;
	font-weight: bold;
}

.position_age .b_footer {
	border-top: 1px solid #E6E6EB;
	font-size: 14px;
	color: #666666;
	line-height: 32px;
}

.position_age .b_footer .more {
	float: right;
	margin-right: 14px;
	cursor: pointer;
}