.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
#rank_box:hover {
    background-color: #e9f7fc;
    border: 1px solid;
    border-color: rgb(107, 202, 234);
}
#rank_box {
	position: relative;
	height: 120px;
	width: 100%;
	background: #fff;
	top: 0px;
	left: 0px;
	border-radius: 4px;
	cursor: pointer;
	border: 1px solid transparent;
}
#rank_wrap {
	position: absolute;
	left: 40%;
	top: 35px;
	 margin-left: -75px
}
.rank_img {
	width: 48px;
	height: 48px;
}
.rank_left {
	float: left;
}
.rank_right {
	margin-top: 3px;
	margin-left: 30px;
	float: left;
}
.rank_top {
	font-size: 16px;
	color: #333333;
	line-height: 20px;
}
.rank_middle {
	font-size: 14px;
	color: #156ECF;
	line-height: 34px;
}
.rank_bottom {
	font-size: 14px;
	color: #156ECF;
	line-height: 16px;
}
.rank_middle:hover {
	color: deepskyblue;
}